.divIntroPics {
  max-width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  margin: auto auto 7rem auto;
  gap: 0.7rem;
}

.divIntroPics-1 {
  max-width: 35rem;
  height: 60vh;
  box-shadow: 0 0 3px 1px #180e7f;
}

.introductionPics {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


