.sectionProjectsPage {
  width: 100%;
}

.divProjectsPicturesInfo {
  font-size: 1.1rem;
  text-align: start;
  margin-left: 1rem;
  line-height: 1.8rem;
}

.divProjectsPicturesInfo h2 {
  margin-bottom: 0.2rem;
  font-size: 1.5rem;
  color: #180e7f;
  text-transform: capitalize;
}

.divProjectsPicturesInfo span {
  font-size: 1.2rem;
  font-weight: 600;
}

.projectsPictures {
  width: 95%;
  margin: 5rem auto 0 auto;
}

.sectionIndividualProjects {
  position: relative;
  height: 100%;
  margin: auto;
  max-width: 100%;
}

/* .sliderProjectImages {
  height: 40vh;
} */

.projectImages {
  width: 100%;
  height: 60vh;
  padding: 0.7rem;
  margin: auto;
}

.projectImages-1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.divProjectsButtons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  width: 95%;
  margin: auto;
}

.projectsButtonLeft {
  background-color: transparent;
  border: none;
}

.projectsButtonLeft span {
  color: #000;
  background-color: transparent;
  font-size: 3rem;
}

.projectsButtonRight {
  background-color: transparent;
  border: none;
}

.projectsButtonRight span {
  color: #000;
  background-color: transparent;
  font-size: 3rem;
}

@media screen and (max-width: 800px) {
  .projectsPictures {
    max-width: 100%;
    margin: 5rem auto 0 auto;
  }

  .sectionIndividualProjects {
    max-width: 92%;
  }

  .divProjectsPicturesInfo h2 {
    margin-bottom: 0.2rem;
    font-size: 1.1rem;
    color: #180e7f;
    text-transform: uppercase;
  }

  .divProjectsPicturesInfo span {
    font-size: 1rem;
    font-weight: 600;
  }

  .divProjectsPicturesInfo {
    font-size: 0.9rem;
  }

  .projectImages {
    width: 100%;
    height: 25vh;
    padding: 0.2rem;
    margin: auto;
  }

  .projectImages-1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .divProjectsButtons {
    top: 40%;
  }

  .projectsButtonLeft span {
    font-size: 2rem;
  }

  .projectsButtonRight span {
    font-size: 2rem;
  }
}
