.sectionServicesHome {
  min-height: 70vh;
  width: 95%;
  margin: auto;
  /* margin: 5rem 0 5rem 0; */
  position: relative;
}

slider {
  display: none;
  max-width: 100%;
}

.divServicesHome {
  height: 100%;
}

.divServicesHomeSlide {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 87%;
  margin: auto;
  height: 70vh;
}

.imageServicesHome {
  width: 85%;
  height: 100%;
  margin: auto;
}

.servicesImage1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.divServicesHome-1 {
  display: flex;
  gap: 0.5rem;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  margin: auto;
}

.divServicesHome-1 {
  width: 80%;
  margin: 0 auto 0 auto;
  position: relative;
}

.headingServicesHome {
  text-align: start;
  letter-spacing: 4px;
  color: #180e7f;
}

.paraServicesHome {
  text-align: start;
  line-height: 25px;
  font-size: 1.1rem;
}

.headingServicesHome-1 {
  font-size: 1.2rem;
  text-align: start;
  letter-spacing: 3px;
}

.buttonServicesHome {
  position: absolute;
  right: 0;
  bottom: 0;
  text-decoration: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.buttonServicesHome p {
  font-size: 1.2rem;
  letter-spacing: 3px;
  padding: 0.7rem 2rem 0.7rem 2rem;
  background-color: #180e7f;
  color: #fff;
}

.buttonServicesHome p:hover {
  background-color: #fd0203;
  transition: 1.5s ease-in-out;
  scale: 1.05;
}

.divServicesButtons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  width: 90%;
  margin: auto;
}

.servicesButtonLeft {
  background-color: transparent;
  border: none;
}

.servicesButtonLeft span {
  color: #000;
  background-color: transparent;
  font-size: 3rem;
}

.servicesButtonRight {
  background-color: transparent;
  border: none;
}

.servicesButtonRight span {
  color: #000;
  background-color: transparent;
  font-size: 3rem;
}

@media screen and (max-width: 1000px) {
  .paraServicesHome {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 700px) {
  .sectionServicesHome {
    width: 85%;
  }

  .divServicesHomeSlide {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    margin: auto;
    height: 100%;
  }

  .imageServicesHome {
    display: none;
  }

  .divServicesHome-1 {
    gap: 0.4rem;
    width: 90%;
    margin: 0 auto 0 auto;
    position: unset;
  }

  .headingServicesHome {
    font-size: 1.2rem;
  }

  .headingServicesHome-1 {
    font-size: 1rem;
  }

  .buttonServicesHome p {
    font-size: 0.9rem;
    letter-spacing: 3px;
    padding: 0.5rem 1.3rem 0.5rem 1.3rem;
    background-color: #180e7f;
    color: #fff;
  }

  .buttonServicesHome {
    position: unset;
  }

  .divServicesButtons {
    width: 100%;
    top: 40%;

  }

  .servicesButtonLeft span {
    font-size: 2.5rem;
  }

  .servicesButtonRight span {
    font-size: 2.5rem;
  }
}
